{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo.jpg' %}" type="image/jpg" sizes="16x16">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    {% block style %}{% endblock %}

    <title> {% block page-title %}{% endblock %} </title>
</head>

<body>

    <div class="topnav" id="myTopnav">
            <a style="margin: 0;" href=".">   <span class="xl">Corona Overflow</span></a>
            {% block nav-items %}{% endblock %}
            <a class="newroom fr" href="{% url 'logout' %}" > <i class="fa fa-sign-out" style="font-size:20px"></i> Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        
    </div>
    <div class="title">{% block title %}{% endblock %}</div>
    {% block content %}
        
    {% endblock %}

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
</body>
</html>