<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'logo.jpg' %}" type="image/jpg" sizes="16x16">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">

    <title>Register</title>
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h1>Corona Over-Flow</h1>
            <h3>Register Page</h3>
           <p>Register from here to access.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form method="POST" action="">
                
                {% csrf_token %}
                {% for field in form %}
                    <div style="padding: 0; margin: 0;">{{ field.label_tag }}</div>
                    <div style="margin: 0 0 20px 0; ">{{ field }}</div><span style="color: red;">{{ field.errors }}</span>
                {% endfor %}
                <div style="display: inline-block;">
                    <button type="submit" class="btn btn-secondary">Register</button>
                </div>
                <div style="float: right;">
                    Already Signed up?<a href="{% url 'loginpage' %}"  >Login</a>
                </div>
              </form>
              
           </div>
        </div>
    </div>
</body>
</html>