.room:hover{
    background-color: hsl(0, 0%, 5%);
    border-left-color: green ;
    border-right-color: green ;
    transform:scale(1.02);

}
.room{
    border-radius: 20px 0 20px 0;
    background-color: hsl(0, 0%, 7%);  
    margin: 5px 10px 15px 10px; 
    border-left:5px solid #3b5998; 
    border-right:5px solid #3b5998; 
    display: block;  
    padding: 15px 15px 0px 25px;
    color:hsla(0, 100%, 100%, 0.88) ;
    transition: 0.3s all ease-out;
}
b{
    color: #3b5998;
    font-size:30px;
    font-weight:bold;
}
p{
    font-size:20px;
    font-weight:bold;
}
